@tailwind base;
@tailwind components;
@tailwind utilities;
/* purgecss start ignore */

@layer base {
  html,
  body {
    scroll-behavior: smooth;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-nunito;
  }

  /* p,a,div{
        @apply font-roboto
    } */
}



.marquee-horizontal{
  display: flex;
  flex: 0 0 auto;
  min-width: 100%;
  animation: scrollX 4s linear 0s infinite;
  animation-play-state: running;
  animation-delay: 0s;
  animation-direction: normal;
}

.marquee-vertical{
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  min-width: 100%;
  animation: scrollY 4s linear 0s infinite;
  animation-play-state: running;
  animation-delay: 0s;
  animation-direction: normal;

}

@keyframes scrollX {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}
@keyframes scrollY {
  0% {
    transform: translateY(0%);
  }

  100% {
    transform: translateY(100%);
  }
}